<div class="card mb-4 shadow-sm">
    <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns={{productItem.imageUrl}} role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
    <img src={{productItem.imageUrl}} height="200px">
    <div class="card-body">
      <p class="card-text">{{productItem.name}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Expand
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-muted">{{productItem.price | currency:'INR'}}</small>
      </div>
    </div>
  </div>